@import "tailwindcss";

:root {
  --primaryColor: #10172B;
  --mainTextColor: #CBD1EC;
}


body {
  background: var(--primaryColor);
  color: var(--mainTextColor);
  font-family: Arial, Helvetica, sans-serif;
}
